@import "tailwindcss";

@theme {
  /* colors */
  --color-bg: #F5EDE0;
  --color-bg-dark: #2A211C;
  /* --color-header-bg: #E3C6B8; */
  --color-header-bg: #F5EDE0;
  --color-footer-bg: #F0E6DA;
  --color-button-bg: #D93E30;
  --color-button-hover-bg: #b83125;
  --color-border-color: #A8A8A8;
  --color-primary-color: #F8F8F8;
  --color-header-bg-dark: #2A211C;

  /* font sizes */
}

